* {

  box-sizing: border-box;
  font-family: "Josefin Sans";

}

#name {
  margin-top: 35px;
    text-align: center;
}

.outer {
  margin-top: 35px;
  display: flex;
  gap: 25px;
  margin-left: 100px;
}
